<h1> <%= @type.name %> </h1>

<% if @type.businesses.any? %>
  <h4>Here are the businesses for <%= @type.name %>: </h4>

  <ul>
    <% @type.businesses.each do |business| %>
      <li>
        <%= business.name %>
        <%= link_to "edit", edit_type_business_path(@type, business) %> |
        <%= link_to "delete", type_business_path(@type, business),
                                  :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no businesses yet</p>
<% end %>

<p> <%= link_to "Add a business", new_type_business_path(@type) %></p>
<p><%= link_to "edit", edit_type_path(@type) %></p>
<p><%= link_to "delete", type_path(@type),
                         :data => {:confirm => "You sure?",
                         :method => "delete"} %></p>

<p><%= link_to "Return to types page", types_path %></p>
